body {
  margin: 0;
  line-height: normal;
}
.mckennaville2015gmailcom {
  text-decoration: none;
  top: 390px;
  left: 488px;
  color: inherit;
  width: 419px;
  height: 23px;
}
.a,
.atlanta-ga-united-states-of,
.mckennaville2015gmailcom {
  position: absolute;
  display: inline-block;
}
.a {
  text-decoration: none;
  top: 349px;
  left: 575px;
  color: inherit;
}
.atlanta-ga-united-states-of {
  top: 439px;
  left: 470px;
}
.contact-page-tape-top {
  position: absolute;
  top: 106.08px;
  left: 383.64px;
  width: 602.48px;
  height: 192.41px;
  object-fit: cover;
}
.contact-icon,
.contact-page-tape-bottom {
  position: absolute;
  top: 21.49px;
  left: 451px;
  width: 583.17px;
  height: 205.32px;
  object-fit: cover;
}
.contact-icon {
  top: 31px;
  left: 479px;
  width: 409.57px;
  height: 243.41px;
}
.httpswwwlinkedincominmc-a {
  text-decoration: none;
  position: absolute;
  top: 488px;
  left: 441px;
  color: inherit;
  display: inline-block;
  width: 513px;
  cursor: pointer;
}
.contact-page-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Inter;
}
