body, html{ height: 100%;}
body {
	padding-top: 0px;
	background-color: white;
}

@font-face {
    font-family: bromello;
    src: url('bromello.otf');
}

#home {
height: 80%;
/*Horiztonally and vertically centering content"*/
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#aboutMe {
text-align: center;
font-family: helvetica;
}

#contact {
text-align: center;
background-color: #9CDDEF;
}

#findme, #reachme {
color: white;
}

#random {
background-color: #9CDDEF;
color: white;
}

.navbar {
margin: 0px 0;
color: #85C1E9;
background-color: white;
}

.jumbotron{
background-color: white;
}

.landing-title {
font-size: 60px;
color: #85C1E9;
}

.nav .navbar-nav a:hover:not(.active) {
background-color: #9CDDEF;
}

h1 {
font-family: bromello;
font-size: 60px;
color: #9CDDEF;
}

p {
font-family: helvetica;
font-size: 15px;
}

.navbar-default {
  padding: 0px;
}
.navbar-default>img {
  height: 120%;
  padding: 15px;
  width: auto;
}

.active a {
 background-color: #9CDDEF !important;
}

.navbar-default {
background-color: white;
border-color: grey;
border-radius: 0;
 }

.container {
   position: relative;
   width: 50%;
 }

.image {
display: block;
width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
 }

 .overlay {
position: absolute;
bottom: 0;
left: auto;
right: auto;
   background-color: #9CDDEF;
   overflow: hidden;
   width: 0;
   height: 100%;
   transition: .5s ease;
 }

 .container:hover .overlay {
   width: 55%;
 }

 .text {
   white-space: nowrap;
   color: white;
   font-size: 20px;
   position: absolute;
   overflow: hidden;
   top: 50%;
   left: 50%;
	 margin-left: auto;
	 margin-right: auto;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
 }

 .fa {
	 padding-top: 4.5px;
   font-size: 1.5em;
   width: 30px;
	 height: 30px;
   text-align: center;
   border-radius: 50%;
 }

 .fa:hover {
     opacity: 0.3;
 }

 .fa-facebook {
   background: #3B5998;
   color: white;
 }

 .fa-twitter, .fa-github,  .fa-briefcase {
   background: #55ACEE;
   color: white;
 }

 .fa-linkedin, .fa-instagram,  .fa-pinterest  {
   background: #125688;
   color: white;
 }
